<h6 class="text-white">{{name}}</h6>
<div class="progress">
    <div 
        [ngClass]="obtenerClases()" 
        class="progress-bar progress-bar-striped" 
        role="progressbar" 
        [style]="obtenerEstilo()"
        attr.aria-valuenow="{{percentage}}" 
        aria-valuemin="0" 
        aria-valuemax="100"
        >
    </div>
    <div 
        *ngIf="percentage != '100'"
        class="progress-bar bg-secondary" 
        role="progressbar" 
        [style]="obtenerEstiloRestante()"
        attr.aria-valuenow="obtenerValorRestante()" 
        aria-valuemin="0" 
        aria-valuemax="100"
        >
    </div>


</div>
<br/>