<router-outlet></router-outlet>

<div class="row">
  <div class="col-lg-12">
    <a name="up"></a>
    <app-banner></app-banner>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <app-barra-redes></app-barra-redes>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <app-seccion></app-seccion> <!-- Seccion Exp. Laboral -->
    <app-seccion></app-seccion> <!-- Seccion Estudios -->
    <app-seccion></app-seccion> <!-- Seccion Proyectos -->
  </div>
  <div class="col-lg-4">
    <app-seccion></app-seccion> <!-- Seccion Skills -->
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <app-pie-pagina></app-pie-pagina>
  </div>
</div>