<router-outlet></router-outlet>



  <a name="up"></a>
  <div class="row">
    <div class="col-lg-12">
      <app-barra-redes></app-barra-redes>
    </div>
  </div>

  <div class="container">
      
  <div class="row">
    <div class="col-lg-12">
      <app-banner [modelo]="profile"></app-banner>
    </div>
  </div>
    

  <div class="row">
    <div class="col-lg-9">
      <app-seccion type="cards" name="Experiencia Laboral" idSec="expLab" [itemsToShow]="itemsLab"></app-seccion> <!-- Seccion Exp. Laboral -->
      <app-seccion type="cards" name="Formación Académica" idSec="formEdu" [itemsToShow]="itemsEdu"></app-seccion> <!-- Seccion Estudios -->
      <app-seccion type="cards" name="Certificaciones" idSec="certif" [itemsToShow]="itemsCertif"></app-seccion> <!-- Seccion Certificaciones --> 
      <app-seccion type="cards" name="Proyectos" idSec="proyectos" [itemsToShow]="itemsProy"></app-seccion> <!-- Seccion Proyectos --> 

    </div>
    <div class="col-lg-3">
       <app-seccion type="skills" name="Skills" idSec="skills" [itemsToShow]="itemsSkill"  [events]="eventSort.asObservable()"></app-seccion>  <!-- Seccion Skills -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <app-pie-pagina></app-pie-pagina>
  </div>
</div>