<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand me-2" href="https://argentinaprograma.inti.gob.ar/">
            <i class="bi bi-terminal-fill"></i>
        </a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="https://argentinaprograma.inti.gob.ar/">Arg. Programa<br/> #YoProgramo</a>
            </li>
        </ul>

        <div class="d-flex align-items-center">
            <a class="btn btn-dark px-3" href="https://github.com/IreneGiorgi" role="button">
                <i class="bi bi-github"></i>
            </a>

            <a class="btn btn-dark px-3" href="https://www.linkedin.com/in/irene-giorgi-fern%C3%A1ndez/" role="button">
                <i class="bi bi-linkedin"></i>
            </a>

            <button type="button" class="btn btn-outline-info ms-4 me-1" data-bs-toggle="modal"
                data-bs-target="#modalSesion"><i class="bi bi-person-check-fill"></i> Login</button>

        </div>
    </div>
</nav>

<!-- Modal Iniciar Sesión-->
<div class="modal fade" id="modalSesion" tabindex="-1" aria-labelledby="modalSesionLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="modalSesionLabel">Iniciar Sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
                <div class="modal-body text-white">

                    <button type="button" #closebutton class="close d-none" data-bs-dismiss="modal">&times;</button>


                    <div class="input-group flex-nowrap mb-3">
                        <span class="input-group-text" id="user"><i class="bi bi-person-fill"></i></span>
                        <input type="text" class="form-control bg-dark text-white" formControlName="user" placeholder="Username"
                            aria-label="Username" aria-describedby="addon-wrapping">
                    </div>

                    <div class="input-group flex-nowrap mb-3">
                        <span class="input-group-text" id="pass"><i class="bi bi-key-fill"></i></span>
                        <input type="password" class="form-control bg-dark text-white" formControlName="pass" placeholder="Password"
                            aria-label="Password" aria-describedby="addon-wrapping">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success"
                        [disabled]="!itemForm.valid">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Iniciar Sesión Fin-->