<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand me-2" href="https://argentinaprograma.inti.gob.ar/" target="_blank">
            <i class="bi bi-terminal-fill"></i>
        </a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="https://argentinaprograma.inti.gob.ar/" target="_blank">Arg. Programa<br/> #YoProgramo</a>
            </li>
        </ul>

        <div class="d-flex align-items-center">
            <a class="btn btn-dark px-3" href="https://github.com/IreneGiorgi" target="_blank" role="button">
                <i class="bi bi-github"></i>
            </a>

            <a class="btn btn-dark px-3" href="https://www.linkedin.com/in/irene-giorgi-fern%C3%A1ndez/" target="_blank" role="button">
                <i class="bi bi-linkedin"></i>
            </a>

            <div *ngIf="!auth.isLoggedIn()">
                <button type="button" class="btn btn-outline-info ms-4 me-1" data-bs-toggle="modal"
                data-bs-target="#modalSesion"><i class="bi bi-person-check-fill"></i> Login</button>
            </div>

            <div *ngIf="auth.isLoggedIn()">
                <button type="button" class="btn btn-outline-danger ms-4 me-1" (click)="auth.logout()"><i class="bi bi-person-x-fill"></i> Logout</button>
            </div>


        </div>
    </div>
</nav>

<!-- Modal Iniciar Sesión-->
<div class="modal fade" id="modalSesion" tabindex="-1" aria-labelledby="modalSesionLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="modalSesionLabel">Iniciar Sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
                <div class="modal-body text-white">

                    <button type="button" #closebutton class="close d-none" data-bs-dismiss="modal">&times;</button>
                     
                    <div *ngIf="hasUserError" class="alert alert-danger d-flex align-items-center" role="alert">
                        <span class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><i class="bi bi-exclamation-octagon-fill"></i></span>
                        <div>
                          Usuario o contraseña incorrecta
                        </div>
                      </div>


                    <div class="input-group flex-nowrap mb-3">
                        <span class="input-group-text" id="user"><i class="bi bi-person-fill"></i></span>
                        <input type="text" class="form-control bg-dark text-white" formControlName="user" placeholder="Username"
                            aria-label="Username" aria-describedby="addon-wrapping">
                    </div>

                    <div class="input-group flex-nowrap mb-3">
                        <span class="input-group-text" id="pass"><i class="bi bi-key-fill"></i></span>
                        <input type="password" class="form-control bg-dark text-white" formControlName="pass" placeholder="Password"
                            aria-label="Password" aria-describedby="addon-wrapping">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success"
                        [disabled]="!itemForm.valid">Ingresar</button>                        
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Iniciar Sesión Fin-->