<footer class="text-white" style="background-color:#07407d;">


    <div class="row p-4" style="background-color: rgba(0, 0, 0, 0.2)">
        <div class="col-lg-4 align-self-center">
            <div class="text-start">
                <a class="text-white" href="#up">
                    <h4><i class="bi bi-arrow-up-square-fill"></i></h4>
                </a>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="text-end">
                <a class="text-white" href="https://github.com/IreneGiorgi">Irene Giorgi</a>
                <br>
                © 2022 Copyright
            </div>
        </div>
    </div>

  
  </footer>