<h3 class="text-white">{{name}}</h3>

<div *ngIf="type == 'skills'">

    <app-skill-seccion name="Español" percentage="90" type=""></app-skill-seccion>
    <app-skill-seccion name="AngularJS" percentage="15" type="hard"></app-skill-seccion>
    <app-skill-seccion name="Pascal" percentage="80" type="hard"></app-skill-seccion>
    <app-skill-seccion name="Atención al público" percentage="90" type="soft"></app-skill-seccion>
    <app-skill-seccion name="Atender a clientes" percentage="75" type="soft"></app-skill-seccion>
    <app-skill-seccion name="Frances" percentage="100" type=""></app-skill-seccion>
</div>

<div *ngIf="type == 'cards'">

    <app-card-seccion></app-card-seccion>
    <app-card-seccion></app-card-seccion>



</div>