<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark"
    style="background-repeat: no-repeat;
       background-size: 100% 100%;
       background-image: url(https://scontent.feze10-1.fna.fbcdn.net/v/t1.6435-9/104487247_10223521877101354_7932844094982045841_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=84a396&_nc_eui2=AeF9-2xnaWbRpPhlt1_tBfD2LTrkBF7NqgYtOuQEXs2qBggv0fQYWXyI4SZ_A44OTrg&_nc_ohc=p9X0jpFLW9oAX85i4yd&_nc_ht=scontent.feze10-1.fna&oh=00_AT8srF2sCj7DbSxobGqXHCuB8B32oH6obd1bp0-nNPydOg&oe=62AF8A11)">
    <div class="col-md-6 px-0">
        <div class="card" style="width: 18rem;">
            <img src="https://scontent.feze10-1.fna.fbcdn.net/v/t1.6435-9/92172387_10222660420365474_1429572077697892352_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeGPSUZOY4wAy_hqh_pnB4h7QS0qVkMfONtBLSpWQx842y6W8ZG3Pd5-b0nNJahTJs4&_nc_ohc=ADUlIKrCkvEAX966fdl&tn=oB6eWlNdlhYZ34z7&_nc_ht=scontent.feze10-1.fna&oh=00_AT_Fy3dwt_478QjS7GQ75VqplhhCMIu9uqwJeFvfyguo3w&oe=62AFF7C1"
                class="card-img-top" alt="...">
            <div class="card-body text-light">
                <h4 class="card-title fw-bolder">Irene Giorgi</h4>
                <h6 class="card-title fw-bold fst-italic">Full-Stack Developer</h6>
                <p class="card-text fw-light">🤪👾🎮🥧🤓🍫</p>
                    <p class="card-text fw-light">Soy media loca, gamer y me encanta sonreír.</p>

            </div>
        </div>
    </div>
</div>