<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark" [style]="obtenerEstiloBanner()">
    <div class="col-md-6 px-0">

        <div class="card" style="width: 18rem;">

            <img src="{{modelo.fotoPerfil}}" class="card-img-top" alt="">
           
            <div class="card-body text-light">

                <h4 class="card-title fw-bolder">{{modelo.nombrePerfil}}</h4>
                <h6 class="card-title fw-bold fst-italic">{{modelo.tituloPerfil}}</h6>
                <hr>
                <p class="card-text fw-light">{{modelo.acercaPerfil}}</p>
            </div>

            <button *ngIf="auth.isLoggedIn()" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalPerfil"><i
                        class="bi bi-pencil-square"></i> Editar información personal</button>
            
        </div>
    </div>
</div>

<!-- Modal Editar Informacion Banner-->
<div class="modal fade" id="modalPerfil" tabindex="-1" aria-labelledby="modalEditarPerfilLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="modalEditarPerfilLabel">Editar información personal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
                <div class="modal-body text-white">

                    <div class="mb-3">
                        <label for="nombre" class="form-label">*Nombre: </label>
                        <input id="nombre" type="text" formControlName="nombrePerfil"
                            class="form-control bg-dark text-white">
                    </div>

                    <div class="mb-3">
                        <label for="titulo" class="form-label">*Título: </label>
                        <input id="titulo" type="text" formControlName="tituloPerfil"
                            class="form-control bg-dark text-white" placeholder="Full-Stack Developer">
                    </div>

                    <div class="mb-3">
                        <label for="descripcion" class="form-label">*Descripción: </label>
                        <textarea id="descripcion" type="text" formControlName="acercaPerfil"
                            class="form-control bg-dark text-white">
                        </textarea>
                    </div>

                    <div class="mb-3">
                        <label for="fotoPerfil" class="form-label">*Foto de Perfil: </label>
                        <input id="fotoPerfil" type="text" formControlName="fotoPerfil"
                            class="form-control bg-dark text-white" placeholder="URL de Foto de Perfil">
                    </div>

                    <div class="mb-3">
                        <label for="fotoBannerPerfil" class="form-label">*Foto de Banner: </label>
                        <input id="fotoBannerPerfil" type="text" formControlName="fotoBannerPerfil"
                            class="form-control bg-dark text-white" placeholder="URL de Foto de Banner">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                        [disabled]="!itemForm.valid">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Editar Informacion Banner Fin-->