 
  .card-block {
      font-size: 1em;
      position: relative;
      margin: 0;
      padding-top: 0;
      padding-right: 1em;
      padding-bottom: 1em;
      padding-left: 1em;
      border: none;
      border-top: 1px solid rgba(34, 36, 38, .1);
      box-shadow: none;
      height: 100%;
  }
  .card {
      font-size: 1em;
      overflow: hidden;
      padding: 5;
      border: 1;
      border-radius: .28571429rem;
      margin-top:20px;
      background: rgb(16,16,37);
      background: linear-gradient(90deg, rgba(16,16,37,1) 0%, rgba(39,25,66,1) 27%, rgba(21,44,57,1) 100%);   
  }

  p, h5, h4, hr {
    color: white;
  }
