<div class="card float-left">
    <div class="row" *ngIf="modelo.cardImagen != ' '">
        <div class="col-sm-5">
            <img class="d-block w-100 mx-2 my-2"
                src="{{modelo.cardImagen}}"
                alt="">
        </div>
        <div class="col-sm-7">
            <div class="card-block">
                <h5 class="text-black">
                    <i *ngIf="auth.isLoggedIn()" class="bi bi-x-circle float-end" data-bs-toggle="modal"
                    attr.data-bs-target="{{ '#eliminarCard-' + modelo.id}}"></i>
                    <i *ngIf="auth.isLoggedIn()" class="bi bi-pencil-square float-end me-1" data-bs-toggle="modal"
                    attr.data-bs-target="{{ '#card-' + modelo.id}}" ></i>
                </h5>
                <h4><strong>{{modelo.cardTitulo}}</strong></h4>
                         
                

                <h5>{{modelo.cardLugar}}</h5>
                <hr>
                <p class="">{{modelo.cardDescripcion}}</p>

                <span class="badge rounded-pill bg-info mt-auto">{{modelo.cardDuracion}}</span>
                <span class="badge rounded-pill bg-primary mt-auto">{{modelo.cardEstado}}</span>
                <a *ngIf="modelo.cardInformacion && modelo.cardInformacion != ''"data-bs-toggle="modal"
                attr.data-bs-target="{{ '#verMasCard-' + modelo.id}}"><span class="badge bg-secondary float-end">Ver +</span></a>
            </div>
        </div>
    </div>
</div>
<br />

<!-- Modal Editar Card-->
<div class="modal fade" [id]="'card-'+ modelo.id" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="modalEditarLabel">Editar {{modelo.cardTitulo}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
            <div class="modal-body text-white">
               
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre: </label>
                        <input id="nombre" type="text" formControlName="nombre" class="form-control bg-dark text-white">
                    </div>

                    
                    <div class="mb-3" *ngIf="modelo.subtype != 'proyectos'">
                        <label for="lugar" class="form-label">Lugar: </label>
                        <input id="lugar" type="text" formControlName="lugar" class="form-control bg-dark text-white">
                    </div>
                  
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción: </label>
                        <textarea id="descripcion" type="text" formControlName="descripcion" class="form-control bg-dark text-white">
                        </textarea>
                    </div>

                    <div class="mb-3">
                        <label for="fechaInicio" class="form-label">Fecha de Inicio: </label>
                        <input id="fechaInicio" type="date" formControlName="fechaInicio" class="form-control bg-dark text-white">
                    </div>

                    <div class="mb-3">
                        <label for="fechaFin" class="form-label">Fecha de Fin: </label>
                        <input id="fechaFin" type="date" formControlName="fechaFin" class="form-control bg-dark text-white">
                    </div>

                    <div class="mb-3" *ngIf="modelo.subtype != 'expLab'">
                        <label for="estado" class="form-label">Estado: </label>
                        <select class="form-select bg-dark text-white" id="estado" formControlName="estado">
                            <option value="COMPLETADO">Completado</option>
                            <option value="EN CURSO">En curso</option>
                            <option value="NO FINALIZADO">No finalizado</option>
                          </select>
                    </div>

                    <div class="mb-3">
                        <label for="informacion" class="form-label">Información Adicional: </label>
                        <input id="informacion" type="text" formControlName="informacion" class="form-control bg-dark text-white" placeholder="URL de la Información adicional">
                    </div>

                    <div class="mb-3">
                        <label for="imagen" class="form-label">Imagen de referencia: </label>
                        <input id="imagen" type="text" formControlName="imagen" class="form-control bg-dark text-white" placeholder="URL de la imagen">
                    </div>
                    
                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal" [disabled]="!itemForm.valid" >Editar</button>
            </div>
            </form>

        </div>
    </div>
</div>
<!-- Modal Editar Card Fin-->

<!-- Modal Eliminar-->
<div class="modal fade" [id]="'eliminarCard-'+ modelo.id" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content bg-dark">
        <div class="modal-header">
        <h5 class="modal-title text-white" id="modalEliminarLabel">Eliminar {{modelo.cardTitulo}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-white">
          <p>¿Está seguro que desea eliminar definitivamente {{modelo.cardTitulo}}?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminar()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Eliminar fin -->

<!-- Modal Ver mas -->
<div class="modal fade" [id]="'verMasCard-'+ modelo.id" tabindex="-1" aria-labelledby="modalVerMasLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content bg-dark">
        <div class="modal-header">
        <h5 class="modal-title text-white" id="modalVerMasLabel">Ver información adicional: {{modelo.cardTitulo}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-white">
          <p>Usted va a ser redirigido a: {{modelo.cardInformacion}}</p>
          <p class="fw-bold">¿Desea continuar?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
          <a href="{{modelo.cardInformacion}}" target="_blank"><button type="button" class="btn btn-success" data-bs-dismiss="modal">Continuar</button></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Ver mas fin -->