<div class="card float-left">
    <div class="row">
        <div class="col-sm-5">
            <img class="d-block w-100 mx-2 my-2"
                src="https://scontent.feze10-1.fna.fbcdn.net/v/t1.6435-9/50035185_10218622287574678_5153760386385707008_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeH-Ur3tKfl9ts2fedbn8UXoPr0867v9yUY-vTzru_3JRpRi5rO09usKu0etS3MIovY&_nc_ohc=uJLb8-zRo0YAX_EWXFY&_nc_ht=scontent.feze10-1.fna&oh=00_AT9-FAn9pIKQeVrYTEkE0uXpK9AuqLf9-tuj5BEUEkbNag&oe=62AE493B"
                alt="">
        </div>
        <div class="col-sm-7">
            <div class="card-block">
                <h4><strong>Titulo experiencia</strong></h4>
                <h5>Empresa</h5>
                <hr>
                <p class="">Aca va la descripcion de todo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui,
                    quibusdam. Ut sunt illo dolorem adipisci, nihil nostrum ea ratione excepturi repellat libero et ex
                    ducimus in nam harum placeat beatae.</p>

                <span class="badge rounded-pill bg-info mt-auto">Tiempo</span>
                <span class="badge rounded-pill bg-success mt-auto">Completado</span>
                <a href="http://www.google.com"><span class="badge bg-secondary float-end">Ver +</span></a>
            </div>
        </div>
    </div>
</div>
<br />